#FocusBG{
	width:100%;
	height:500px;
    overflow:hidden;
}

.fullSlide {
	width:100%;
	position:relative;
	height:500px;
	background:#000;
}

.fullSlide .bd {
	margin:0 auto;
	position:relative;
	z-index:0;
	overflow:hidden;
}

.fullSlide .bd ul {
	width:100% !important;
}
.fullSlide .bd li {
	width:100% !important;
	height:500px;
	overflow:hidden;
	text-align:center;
}
.fullSlide .bd li a {
	display:block;
	height:500px;
}
.fullSlide .hd {
	width:100%;
	position:absolute;
	z-index:1;
	bottom:0;
	left:0;
	height:30px;
	line-height:30px;
}
.fullSlide .hd ul {
	text-align:center;
}
.fullSlide .hd ul li {
	cursor:pointer;
	display:inline-block;
	*display:inline;
	zoom:1;
	width:5px;
	height:5px;
	margin:5px;
	overflow:hidden;
	background:#FFF;
	line-height:999px;
}
.fullSlide .hd ul .on {
	background:#192e59;
}
.fullSlide .prev,.fullSlide .next {
	display:block;
	position:absolute;
	z-index:1;
	top:50%;
	margin-top:-30px;
	left:2%;
	z-index:1;
	width:49px;
	height:49px;
	background:url(/images/left.png) 0px -49px no-repeat;
	cursor:pointer;
	filter:alpha(opacity=50);
	opacity:0.5;
	display:none;
}
.fullSlide .next {
	left:auto;
	right:2%;
	background:url(/images/right.png) 0px -49px no-repeat;
}


 #LinksBG{
	width:100%;
	margin:auto;
	background:#F5F5F5;
	border-top:1px solid #E5E5E5;
	}
 #Links {
	width:1200px;
	padding:20px 0px;
	line-height:25px;
	margin:auto;
	font-size:14px;
	}
 #Links span{
	font-weight:normal;
	color:#192e59;
	font-size:16px;}

 #Links a{
	padding:0px 10px;}
 
.AboutBox h3{
	padding:20px 0px;}
.AboutBox p{
	line-height:30px;
	text-align:left;}

.features .feature h4{
	padding:10px 0px;}

.pricing h5{
	font-size:20px;}
.pricing h6{
	font-size:16px;}	