A.c140444{
    font-size: 9pt;
    color: #222222;
    line-height: 150%;
    text-decoration: none;}
    A.c140444:link {
    color: #222222;}  
    A.c140444:visited {
    color: #222222;}  
    A.c140444:active {
    color: #222222;}  
    A.c140444:hover {
    color: #cc0000;}
    A.c140445{
    font-size: 9pt;
    color: #222222;
    line-height: 150%;
    text-decoration: none;}
    A.c140445:link {
    color: #222222;}  
    A.c140445:visited {
    color: #222222;}  
    A.c140445:active {
    color: #222222;}  
    A.c140445:hover {
    color: #cc0000;}
    A.c140446{
    font-size: 9pt;
    color: #222222;
    line-height: 150%;
    text-decoration: none;}
    A.c140446:link {
    color: #222222;}  
    A.c140446:visited {
    color: #222222;}  
    A.c140446:active {
    color: #222222;}  
    A.c140446:hover {
    color: #cc0000;}
    A.c140447{
    font-size: 9pt;
    color: #222222;
    line-height: 150%;
    text-decoration: none;}
    A.c140447:link {
    color: #222222;}  
    A.c140447:visited {
    color: #222222;}  
    A.c140447:active {
    color: #222222;}  
    A.c140447:hover {
    color: #cc0000;}
    .indexbuttonstyle198437{ position: relative; line-height: 25px; top: -5px ;}
    .luceneleaderfont198437{ display: none; visibility: hidden ;}
    .querystyle198437{ font-size: 10pt; border-top: #878787 1px solid; height: 25px; font-family: 瀹嬩綋; border-right: #878787 1px solid; background-image: url(system/resource/images/research/seach_bg.jpg); background-repeat: no-repeat; border-bottom: #878787 1px solid; position: relative; color: #222222; padding-left: 18px; border-left: #878787 1px solid; line-height: 25px; top: -5px ;}
    
    A.c140547{
    font-size:9pt;
    line-height:150%;
    color:#333333;
    text-decoration: none;}
    A.c140547:link {
    color: #222222;}  
    A.c140547:visited {
    color: #222222;}  
    A.c140547:active {
    color: #222222;}  
    A.c140547:hover {
    color: #cc0000;}  
    A.c140448{
    font-size:9pt;
    line-height:150%;
    color:#333333;
    text-decoration: none;}
    A.c140448:link {
    color: #222222;}  
    A.c140448:visited {
    color: #222222;}  
    A.c140448:active {
    color: #222222;}  
    A.c140448:hover {
    color: #cc0000;}  
    A.c140449{
    font-size:9pt;
    line-height:150%;
    color:#333333;
    text-decoration: none;}
    A.c140449:link {
    color: #222222;}  
    A.c140449:visited {
    color: #222222;}  
    A.c140449:active {
    color: #222222;}  
    A.c140449:hover {
    color: #cc0000;}  
    A.c140450{
    font-size:9pt;
    line-height:150%;
    color:#333333;
    text-decoration: none;}
    A.c140450:link {
    color: #222222;}  
    A.c140450:visited {
    color: #222222;}  
    A.c140450:active {
    color: #222222;}  
    A.c140450:hover {
    color: #cc0000;}  
    A.c140884{
    font-size: 9pt;
    color: #ffffff;
    line-height: 150%;
    text-decoration: none;}
    A.c140884:link {
    color: #ffffff;}  
    A.c140884:visited {
    color: #ffffff;}  
    A.c140884:active {
    color: #ffffff;}  
    A.c140884:hover {
    color: #ffa620;}
    A.c141482{
    font-size: 9pt;
    color: #222222;
    line-height: 150%;
    text-decoration: none;}
    A.c141482:link {
    color: #222222;}  
    A.c141482:visited {
    color: #222222;}  
    A.c141482:active {
    color: #222222;}  
    A.c141482:hover {
    color: #cc0000;}
    
    A.c140888{
    font-size: 9pt;
    color: #222222;
    line-height: 150%;
    text-decoration: none;}
    A.c140888:link {
    color: #222222;}  
    A.c140888:visited {
    color: #222222;}  
    A.c140888:active {
    color: #222222;}  
    A.c140888:hover {
    color: #cc0000;}
    A.c140889{
    font-size: 9pt;
    color: #222222;
    line-height: 150%;
    text-decoration: none;}
    A.c140889:link {
    color: #222222;}  
    A.c140889:visited {
    color: #222222;}  
    A.c140889:active {
    color: #222222;}  
    A.c140889:hover {
    color: #cc0000;}
    .winstyle140458{ font-size: 9pt ;}
    